{% load static %}
<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>Car List</title>

</head>
<body>
    <h1>Car List</h1>
    <a href="{% url 'car_create' %}">Add New Car</a>
    <ul>
        {% for car in cars %}
        <li>
            <a href="{% url 'car_detail' car.pk %}">{{ car }}</a>
            <a href="{% url 'car_update' car.pk %}">Edit</a>
            <a href="{% url 'car_delete' car.pk %}">Delete</a>
        </li>
        {% endfor %}
    </ul>
</body>
</html>
